@using MongoMVC.Models
@model TodoList

@{
    ViewBag.Title = "Edit";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div>
        <label>Id</label>
        @Html.DisplayFor(t => t.IdAsString)
    </div>
    <div>
        <label>Name</label>
        @Html.EditorFor(t => t.Name)
    </div>
    <div>
        <label>Created</label>
        @Html.EditorFor(t => t.Created)
    </div>

    <p>
        <input type="submit" value="Update" />&nbsp;&nbsp;&nbsp;<input class="cancel" type="button" value="Cancel" />
    </p>
}

@section docready_scripts
{
    jQ('.cancel').click(function (e) { document.location.href = '@Url.Action("Details", new { id = Model.Id })'; });
}


